/*TODO separate diff styles to files*/
/*TODO rename add form class*/
.todo-list {
    margin: 0 auto;
    width: 650px;
    font-family: Tahoma, serif;
}

.todo-list__item {
    border: 1px solid #DDD;
    border-top: none;
    width: 650px;
    height: 60px;
}

.todo-list__item:first-child {
    border: 1px solid #DDD;
}

.todo-list__item_control {
    padding: 10px;
}

/*todo list item*/

.item__checkbox {
    padding: 5px;
    width: 15%;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}

.item__content {
    width: 80%;
    padding: 5px;
    vertical-align: middle;
    color: #777;
    font-weight: bold;
    font-size: 16px;
    /*TODO figure out with vertical align for text*/
    line-height: 3em;
    display: inline-block;
}

.item__remove {
    width:5%;
    height: 50px;
    padding: 5px;
    cursor: pointer;
}



.item__remove span  {
    color: #ce150e;
    vertical-align: middle;
    text-align: center;
    font-size: 22px;
    display: none;
}

.item:hover .item__remove  span{
    display: inline-block;
}


/*search*/



/*add form*/


.add-form__field {
    display: inline-block;
}


.add-form__field input {
    width: 500px;
    border-radius: 5px;
    padding: 5px;
}

.add-form__field.add-form__field_large {
    width: 100%;
}

.add-form__field.add-form__field_large input {
    width: 100%;
}

.add-form__button {
    cursor: pointer;
    display: inline-block;
    width:80px;
    border:1px solid #BBB;
    border-radius: 5px;
    text-align: center;
}

.add-form__button:active {
    background-color: #555;
    color: #FFF;
}

/*utils*/
.hidden {
    display: none;
}

.done-item {
    text-decoration: line-through;
}